.intro {
  background-image: url("../img/hero-mobile@1x.jpg");
  background-position: center 0;
  background-size: auto 373px;
  background-repeat: no-repeat;

  &__container {
    padding-right: 0;
    padding-left: 0;
  }
  &__title {
    padding-top: 76px;
    padding-right: 38px;
    padding-bottom: 120px;
    padding-left: 38px;
  }

  &__product {
    position: relative;
    padding: 30px 185px 30px 29px;

    &--decor {
      background-color: #63d1bb;
    }
    &--decor::before {
      content: '';
      position: absolute;
      top: 23px;
      right: 36px;

      width: 40px;
      height: 62px;
      background:  url("../img/icon-interior.svg") 0 0 no-repeat;
      background-size: 40px 62px;
      opacity: 0.5;
    }
    &--toys {
      background-color: #56c3b2;
    }
    &--toys::before {
      content: '';
      position: absolute;
      top: 21px;
      right: 27px;

      width: 60px;
      height: 60px;
      background:  url("../img/icon-toy.svg") 0 0 no-repeat;
      background-size: 60px 60px;
      opacity: 0.5;
    }
  }
  &__product-name {
    margin: 0;
    font-size: 19px;
    font-weight: 700;
    line-height: 24px;

    color: #fff;
  }
  &__small {
    display: none;
  }
}
@media @tablet {
  .intro {
    display: flex;
    flex-direction: column;
    position: relative;
    background-image: url("../img/hero-tablet@1x.jpg");
    background-size: auto 746px;
    min-height: 746px;
    &::before {
      content: '';
      position: absolute;
      z-index: 10;
      left: 0;
      bottom: 0;

      width: 100%;
      height: 24px;
      background: url("../img/bg-zigzag-fill.svg") 0 0 repeat-x;
      background-size: auto 24px;
    }
    &__container {
      position: relative;
      display: flex;
      flex-direction: column;
      flex: 1 1;
      padding-left: 50px;
      padding-right: 50px;
    }
    &__title {
      padding-top: 161px;
    }
    &__products {
      display: flex;
      flex-direction: row;
      margin-top: auto;
    }
    &__small {
      display: block;
      position: absolute;
      right: 50px;
      top: 25px;

      color: #444444;
      font-size: 15px;
      font-weight: 400;
      line-height: 1;
    }
  }
}
