.item-table {
  &__data {
  }
  &__data--name {
    width: 98px;
  }
  &__data--value {
  }
  &__value-name {
  color: #444444;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  }
  &__value {
    color: #444444;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
  }
}

@media @tablet {
  .item-table {
    border-spacing: 0;
    &__data {
      padding-top: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid #ececec;
    }
    &__data--name {
      width: auto;
    }
  }
}
