.nav {
  &__main {
    height: 79px;
  }
  &__logo {
    margin-left: auto;
    margin-right: auto;
  }
  &__logo-self {
  }
  &__burger {
  }
  &__list {
    padding: 0;
    margin: 0;
  }
  &__item {
  }
  &__link {
    display: flex;
    align-items: center;
    padding-left: 23.75%;
    height: 79px;
    font-size: 17px;
    line-height: 24px;
    font-weight: 700;
    color: #000000;
    box-shadow: 0 1px 0 #ececec, inset 0 1px 0 #ececec;
  }
}
